#root, html, body {
    
    height: 100% !important;
    margin: 0px !important;
}

.full-height {
    height: 100%;
}

.header{
    min-height: 70px;
    vertical-align: middle;
    color: white;
    display: flex;
    align-items: center;
    font-size: 28px;
}

.menu{
    padding-right: 0 !important;
    min-height: 100%;
    
}

.bg-hbsis{
    background-color: #001f5f;
}

.logo{
    display: block;
    width: 140px;
    padding-left: 8px;
}

.menu-link{
    color: white !important;
}

.content {
    padding:15px
}